html, body {margin: 0; padding: 0; width: 100%; box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.main { 
    background: #1e2434;
    background: linear-gradient(to right bottom, #1e2434, #404f6e) center no-repeat;
    background-size: cover;
}
.head {
    padding-top: 84px;
    margin-left: 82px;
    display: flex;
}
.img1 {
    box-shadow: 12px 0px 5px 0px #0f0f35;
}
h1 {
    text-transform: uppercase;
    color: #8f8a8e;
    font-weight: 850;
    font-family: sans-serif;
    margin-left: 25px;
}
.container {
    margin-left: 82px;
    margin-top: 140px;
    margin-right: 125px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h2 {
    text-align: center;
    font-size: 70;
}
h3 {
    margin-top: 34px;
    color: #8f8a8e;
    font-size: 40;
    margin-right: 40%;
}
h3:after {
    content: "";
    display: block;
    width: 700px;
    height: 2;
    background-color: #8f8a8e;
    margin-top: 40px;
}
p {
    font-size: 36;
}
.text1:after {
    content: "";
    display: block;
    width: 700px;
    height: 2;
    background-color: #3a465e;
    margin-top: 5px;
}
.text2 {
    margin: 0;
    padding-bottom: 20px;
}
.end {
    width: 100%;
    height: 670px;
    background: url(soccer.jpeg) center no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
}
.block {
    content: "";
    display: block;
    width: 700px;
    height: 100;
    background-color: white;
    opacity: 0.65;
    position: absolute;
    bottom: 22px;
    margin-left: 35px;
}
.last {
    font-size: 25;
    font-style: italic;
    font-weight: 900;
    margin-left: 30px;
}
.line {
    content: "";
    display: block;
    width: 100%;
    height: 2;
    background-color: white;
}